<tr class="trip__flight-headers">
	<th>{{::'departureFrom' | translate}}</th>
	<th>{{::'arrivalTo' | translate}}</th>
	<th>{{::'vendor' | translate}}</th>
	<th>{{::'flightCode' | translate}}</th>
	<th>{{::'price' | translate}}</th>
</tr>
<tr class="trip__flight" ng-repeat="flight in route.flights">
	<td>
		<span>{{flight.departureTime | localized: flight.from.timeZoneOffset}}</span>
		<span>{{flight.from.cityCode}}</span>
		<span>{{flight.from.fullName}}</span>
		<span>{{flight.from.code}}</span>
	</td>
	<td>
		<span>{{flight.arrivalTime | localized: flight.to.timeZoneOffset}}</span>
		<span>{{flight.to.cityCode}}</span>
		<span>{{flight.to.fullName}}</span>
		<span>{{flight.to.code}}</span>
	</td>
	<td>{{flight.vendorCode}}</td>
	<td>{{flight.code}}</td>
	<td>{{flight.price | currency}}</td>
</tr>
