<div class="filter" ng-init="init()">
	<div class="filter__header">{{::'filter' | translate}}</div>

	<form class="filter__form">
		<div class="filter__departure">
			<h4>{{::'departureTime' | translate}}</h4>
			<label class="filter__condition">
				<input type="checkbox" ng-model="filter.forwardRoute.departureMorning" />{{::'morning' | translate}} 6.00 - 12.00
			</label>
			<label class="filter__condition">
				<input type="checkbox" ng-model="filter.forwardRoute.departureDay" />{{::'day' | translate}} 12.00 - 18.00
			</label>
			<label class="filter__condition">
				<input type="checkbox" ng-model="filter.forwardRoute.departureEvening" />{{::'evening' | translate}} 18.00 - 00.00
			</label>
		</div>

		<div class="filter__departure" ng-show="twoWay">
			<h4>{{::'comebackTime' | translate}}</h4>
			<label class="filter__condition">
				<input type="checkbox" ng-model="filter.comebackRoute.departureMorning" />{{::'morning' | translate}} 6.00 - 12.00
			</label>
			<label class="filter__condition">
				<input type="checkbox" ng-model="filter.comebackRoute.departureDay" />{{::'day' | translate}} 12.00 - 18.00
			</label>
			<label class="filter__condition">
				<input type="checkbox" ng-model="filter.comebackRoute.departureEvening" />{{::'evening' | translate}} 18.00 - 00.00
			</label>
		</div>

	</form>
</div>