<div class="filter" ng-init="init()">
	<h2>{{::'filter' | translate}}</h2>

	<form>
		<div class="checkbox">
			<h4>{{::'departureTime' | translate}}</h4>
			<label>
				<input type="checkbox" ng-model="filter.forwardRoute.departureMorning" /> {{::'morning' | translate}} 6.00 - 12.00
			</label>
			<label>
				<input type="checkbox" ng-model="filter.forwardRoute.departureDay" /> {{::'day' | translate}} 12.00 - 18.00
			</label>
			<label>
				<input type="checkbox" ng-model="filter.forwardRoute.departureEvening" />{{::'evening' | translate}} 18.00 - 00.00
			</label>
		</div>

		<div class="checkbox">
			<h4>{{::'comebackTime' | translate}}</h4>
			<label>
				<input type="checkbox" ng-model="filter.comebackRoute.departureMorning"/>{{::'morning' | translate}} 6.00 - 12.00
			</label>
			<label>
				<input type="checkbox" ng-model="filter.comebackRoute.departureDay"/> {{::'day' | translate}} 12.00 - 18.00
			</label>
			<label>
				<input type="checkbox" ng-model="filter.comebackRoute.departureEvening"/>{{::'evening' | translate}} 18.00 - 00.00
			</label>
		</div>

	</form>
</div>