<div class="filter" ng-init="init()">
	<h2>Фильтрация</h2>

	<form>
		<div class="checkbox">
			<h4>Время отправления</h4>
			<label>
				<input type="checkbox" ng-model="filter.forwardTrip.departureMorning" /> Morning 6.00 - 12.00
			</label>
			<label>
				<input type="checkbox" ng-model="filter.forwardTrip.departureDay" /> Morning 12.00 - 18.00
			</label>
			<label>
				<input type="checkbox" ng-model="filter.forwardTrip.departureEvening" />Morning 18.00 - 00.00
			</label>
		</div>

		<div class="checkbox">
			<h4>Время возвращения</h4>
			<label>
				<input type="checkbox" ng-model="filter.comebackTrip.departureMorning"/>Morning 6.00 - 12.00
			</label>
			<label>
				<input type="checkbox" ng-model="filter.comebackTrip.departureDay"/> Morning 12.00 - 18.00
			</label>
			<label>
				<input type="checkbox" ng-model="filter.comebackTrip.departureEvening"/>Morning 18.00 - 00.00
			</label>
		</div>

	</form>
</div>