<div class="trip__summary" ng-click="toggleDetails()">
	<span>
		<span>
			<span>{{chain.from.code}}:</span>
			<span>{{chain.departureTime | localized: chain.from.timeZoneOffset}}</span>
		</span>
		<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		<span>
			<span>{{chain.to.code}}:</span>
			<span>{{chain.arrivalTime | localized: chain.to.timeZoneOffset}}</span>
		</span>
	</span>

	<span class="trip__duration">
		<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
		<span>{{chain.duration | duration}}</span>
	</span>

	<span class="trip__price">
		<span>{{chain.price | currency}}</span>
	</span>
</div>
<div class="trip__details" ng-show="detailed">
	<table>
		<tr class="trip__flight-headers">
			<th>{{::'departureFrom' | translate}}</th>
			<th>{{::'arrivalTo' | translate}}</th>
			<th>{{::'vendor' | translate}}</th>
			<th>{{::'airLineCode' | translate}}</th>
			<th>{{::'price' | translate}}</th>
		</tr>
		<tr class="trip__flight" ng-repeat-start="(key, flight) in chain.flights">
			<td>
				<span>{{flight.departureTime | localized: flight.from.timeZoneOffset}}</span>
				<span>{{flight.from.cityCode}}</span>
				<span>{{flight.from.fullName}}</span>
				<span>{{flight.from.code}}</span>
			</td>
			<td>
				<span>{{flight.arrivalTime | localized: flight.to.timeZoneOffset}}</span>
				<span>{{flight.to.cityCode}}</span>
				<span>{{flight.to.fullName}}</span>
				<span>{{flight.to.code}}</span>
			</td>
			<td>{{flight.vendorName}}</td>
			<td>{{flight.airLineCode}}</td>
			<td>{{flight.price | currency}}</td>
		</tr>
		<tr ng-repeat-end ng-if="!$last">
			<td colspan="4">{{::'transferTime' | translate }} = {{::flight.transferDurationAfterFlight | duration}}</td>
		</tr>
	</table>
</div>