<div>
	<table>
		<tr class="trip__flight-headers">
			<th>{{::'departureFrom' | translate}}</th>
			<th>{{::'arrivalTo' | translate}}</th>
			<th>{{::'vendor' | translate}}</th>
			<th>{{::'airLineCode' | translate}}</th>
			<th>{{::'price' | translate}}</th>
		</tr>
		<tr class="trip__flight" ng-repeat-start="(key, flight) in chain.flights">
			<td>
				<span>{{flight.departureTime | localized: flight.from.timeZoneOffset}}</span>
				<span>{{flight.from.code | translate}}</span>
			</td>
			<td>
				<span>{{flight.arrivalTime | localized: flight.to.timeZoneOffset}}</span>
				<span>{{flight.to.code | translate}}</span>
			</td>
			<td class="trip__flight-vendor">
				<img ng-src="{{'../../images/vendor-images/' + flight.vendorCode + '.png'}}" alt="{{flight.vendorName}}" class="trip__flight-vendor-logo" />
			</td>
			<td>{{flight.airLineCode}}</td>
			<td>{{flight.price | currency}}</td>
		</tr>
		<tr ng-repeat-end ng-if="!$last">
			<td colspan="4">{{::'transferTime' | translate }} = {{::flight.transferDurationAfterFlight | duration}}</td>
		</tr>
	</table>
</div>