<div class="trip__route-summary" ng-click="toggleDetails()">
	<span class="trip__route-places">
		<span class="from">
			<span class="code">{{route.from.code}}:</span>
			<span class="time">{{route.departureTime | date: 'HH:mm'}}</span>
		</span>
		<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		<span class="to">
			<span class="code">{{route.to.code}}:</span>
			<span class="time">{{route.arrivalTime | date: 'HH:mm'}}</span>
		</span>
	</span>

	<span class="trip__route-duration">
		<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
		<span>{{route.duration | date: 'HH:mm'}}</span>
	</span>

	<!--<button ng-click="toggleDetails()" class="pull-right">
		<span ng-if="!detailed">{{::'details' | translate}}</span>
		<span ng-if="detailed">{{::'hide' | translate}}</span>
	</button>-->
</div>
<div class="trip__route-details" ng-show="detailed">
	<table detailed-route="route"></table>
</div>
