<div class="search-settings">
	<h2>Параметры поиска 
 </h2>

	<form class="search-settings-form" ng-init="init()">
		<div class="form-group">
			<select class="form-control" id="departureSelected" ui-select2="select2options" ng-model="search.fromCityCode" data-placeholder="Select origin">
				<option value=""></option>
				<option ng-repeat="cityCode in cityCodes" value="{{cityCode}}">{{cityCode}}</option>
			</select>
		</div>

		<div class="form-group">
			<label class="control-label" for="arrivalSelected">В</label>
			<select class="form-control" id="arrivalSelected" ui-select2="select2options" ng-model="search.toCityCode" data-placeholder="Select destination">
				<option value=""></option>
				<option ng-repeat="cityCode in cityCodes" value="{{cityCode}}">{{cityCode}}</option>
			</select>
		</div>

		<div class="form-group">
			<label class="control-label">Цель</label>
			<div class="checkbox">
				<label><input type="radio" name="ways" ng-model="search.twoWay" value="">В одну сторону</label>
			</div>
			<div class="checkbox">
				<label><input type="radio" name="ways" ng-model="search.twoWay" value="true">Туда и обратно</label>
			</div>
		</div>

		<div class="form-group">
			<div>
				<label>Дата отправления</label>
				<input class="datepicker form-control" type="text"
					   pick-a-date="date"
					   ng-model="search.departureDate"
					   placeholder="Departure" />
			</div>
		</div>

		<div class="form-group" ng-show="search.twoWay">
			<div>
				<label>Дата возвращения</label>
				<input class="datepicker form-control" type="text"
					   pick-a-date="date"
					   ng-model="search.comebackDate"
					   placeholder="Comeback" />
			</div>
		</div>

		<div class="form-group">
			<div>
				<label>Взрослые</label>
				<input class="form-control" type="number" min="0" max="100" ng-model="people.adults" />
			</div>
		</div>

		<div class="form-group">
			<div>
				<label>Дети</label>
				<input class="form-control" type="number" min="0" max="100" ng-model="people.children" />
			</div>
		</div>

		<div class="form-group">
			<div>
				<label>Младенцы</label>
				<input class="form-control" type="number" min="0" max="100" ng-model="people.newborns" />
			</div>
		</div>

		<button ng-click="searchTrips()">Поиск</button>
	</form>
</div>
