<div class="search">
	<h2 class="search__header">{{::'searchParams' | translate}}</h2>

	<form name="searchForm">
		<div class="search__route">
			<div class="search__from">
				<label class="search__label" for="arrivalSelected">{{::'from' | translate}}</label>
				<input class="form-control" dropdown-select2 ng-model="search.fromLocation" items="locations" filter="search.toLocation" placeholder="{{::'selectOrigin' | translate}}" />
			</div>

			<!--<div class="search__to">
				<label class="search__label" for="arrivalSelected">{{::'to' | translate}}</label>
				<input class="form-control" ui-select2 ng-model="search.toLocation" data-placeholder="{{::'selectDestination' | translate}}" dropdown-select2 filter="search.fromLocation" data-dropdown="locations" />
			</div>-->
		</div>

		<div class="search__direction">
			<div class="search__directions">
				<label class="search__label">{{::'directions' | translate}}</label>
				<div class="search__one-way">
					<label><input type="radio" name="ways" ng-model="search.twoWay" value="">{{::'oneWay' | translate}}</label>
				</div>
				<div class="search__two-way">
					<label><input type="radio" name="ways" ng-model="search.twoWay" value="true">{{::'twoWay' | translate}}</label>
				</div>
			</div>
		</div>

		<div class="search__dates">
			<div class="search__from">
				<div>
					<label>{{::'departureDate' | translate}}</label>
					<input class="form-control" type="text"
						   ng-model="search.forwardRouteDepartureDate"
						   placeholder="{{::'departure' | translate}}"
						   datepicker
						   max-date="search.backRouteDepartureDate" />
				</div>
			</div>

			<div class="search__to" ng-show="search.twoWay">
				<div>
					<label>{{::'comebackDate' | translate}}</label>
					<input class="form-control" type="text"
						   ng-model="search.backRouteDepartureDate"
						   placeholder="{{::'comeback' | translate}}"
						   datepicker
						   min-date="search.forwardRouteDepartureDate" />
				</div>
			</div>
		</div>

		<div class="search__passengers" ng-model="search.passengers" passengers-required>
			<div class="search__adults">
				<div>
					<label>{{::'adults' | translate}}</label>
					<input class="form-control" name="adults" pattern="\d*" type="number" min="0" max="100" ng-model="search.passengers.adults" required />
					<div ng-messages="searchForm.adults.$error" class="search__errors" ng-messages-include="app/templates/validate-messages.html">
					</div>
				</div>
			</div>

			<div class="search__children">
				<div>
					<label>{{::'children' | translate}}</label>
					<input class="form-control" type="number" min="0" max="100" pattern="\d*" name="children" ng-model="search.passengers.children" required />
					<div ng-messages="searchForm.children.$error" class="search__errors" ng-messages-include="app/templates/validate-messages.html">
					</div>
				</div>
			</div>

			<div class="search__infants">
				<div>
					<label>{{::'babies' | translate}}</label>
					<input class="form-control" type="number" min="0" max="100" pattern="\d*" name="infants" ng-model="search.passengers.infants" required />
					<div ng-messages="searchForm.infants.$error" class="search__errors" ng-messages-include="app/templates/validate-messages.html">
					</div>
				</div>
			</div>
		</div>
		<div ng-messages="searchForm.$error" style="" class="search__customErrors">
			<span ng-message="passengersRequired">{{::'passengersRequired' | translate}}</span>
		</div>

		<div class="search__controls">
			<div class="search__search-button-wrap">
				<button type="button" ng-click="searchTrips()" ng-disabled="searchForm.$invalid">{{::'search' | translate}}</button>
			</div>
		</div>
	</form>
</div>
