<div class="search-settings">
	<h2>{{::'searchParams' | translate}}</h2>

	<form class="search-settings-form" ng-init="init()">
		<div class="form-group">
			<label class="control-label" for="arrivalSelected">{{::'from' | translate}}</label>
			<select class="form-control" id="departureSelected" ui-select2="select2options" ng-model="search.fromCityCode" data-placeholder="{{::'selectOrigin' | translate}}">
				<option value=""></option>
				<option ng-repeat="cityCode in cityCodes" value="{{cityCode}}">{{cityCode}}</option>
			</select>
		</div>

		<div class="form-group">
			<label class="control-label" for="arrivalSelected">{{::'to' | translate}}</label>
			<select class="form-control" id="arrivalSelected" ui-select2="select2options" ng-model="search.toCityCode" data-placeholder="{{::'selectDestination' | translate}}">
				<option value=""></option>
				<option ng-repeat="cityCode in cityCodes" value="{{cityCode}}">{{cityCode}}</option>
			</select>
		</div>

		<div class="form-group">
			<label class="control-label">{{::'directions' | translate}}</label>
			<div class="checkbox">
				<label><input type="radio" name="ways" ng-model="search.twoWay" value="">{{::'oneWay' | translate}}</label>
			</div>
			<div class="checkbox">
				<label><input type="radio" name="ways" ng-model="search.twoWay" value="true">{{::'twoWay' | translate}}</label>
			</div>
		</div>

		<div class="form-group">
			<div>
				<label>{{::'departureDate' | translate}}</label>
				<input class="datepicker form-control" type="text"
					   ng-model="search.forwardRouteDepartureDate"
					   placeholder="{{::'departure' | translate}}" 
					   datepicker/>
			</div>
		</div>

		<div class="form-group" ng-show="search.twoWay">
			<div>
				<label>{{::'comebackDate' | translate}}</label>
				<input class="datepicker form-control" type="text"
					   ng-model="search.backRouteDepartureDate"
					   placeholder="{{::'comeback' | translate}}"
					   datepicker />
			</div>
		</div>

		<div class="form-group">
			<div>
				<label>{{::'adults' | translate}}</label>
				<input class="form-control" type="number" min="0" max="100" ng-model="people.adults" />
			</div>
		</div>

		<div class="form-group">
			<div>
				<label>{{::'children' | translate}}</label>
				<input class="form-control" type="number" min="0" max="100" ng-model="people.children" />
			</div>
		</div>

		<div class="form-group">
			<div>
				<label>{{::'babies' | translate}}</label>
				<input class="form-control" type="number" min="0" max="100" ng-model="people.newborns" />
			</div>
		</div>

		<button ng-click="searchTrips()">{{::'search' | translate}}</button>
	</form>
</div>
