<div class="well well-sm">
	<h5>{{flight[0].from}} - {{flight[0].to}}<span ng-if="flight[1]"> - {{flight[1].to}}</span> {{flight[0].departureDate | date: 'yyyy-MM-dd HH:mm'}}</h5>
	<div class="trip" ng-repeat="trip in flight">
		<span class="from">{{trip.fromCode}} : {{flight[0].departureDate | date: 'HH:mm'}}</span>
		<span class="to">{{trip.toCode}} : {{flight[0].arrivalDate | date: 'HH:mm'}}</span>
		<span class="flight-time">
			{{getFlightTime(trip.departureDate, trip.arrivalDate).hours}} hours
			<span ng-if="getFlightTime(trip.departureDate, trip.arrivalDate).minutes != 0">
				{{getFlightTime(trip.departureDate, trip.arrivalDate).minutes}}  minutes
			</span>
		</span>
		<span class="vendor">{{trip['flight-id']}}</span>
		<span class="price">{{trip.price}}$</span>
	</div>
	<div class="details-toggle" ng-click="toggleDetails()">Details</div>
	<div class="totalCost">{{flight[0].price + flight[1].price}}</div>

	<div class="details" ng-show="detailed">
		<div class="detailed-trip">
			<div ng-repeat="(key, trip) in flight">
				<span>{{getDirectionName(key)}}</span>
				<span>{{trip.departureDate | date: 'dd.mm.yyyy'}}</span>
				<span class="flight-time">
					{{getFlightTime(trip.departureDate, trip.arrivalDate).hours}} hours
					<span ng-if="getFlightTime(trip.departureDate, trip.arrivalDate).minutes != 0">
						{{getFlightTime(trip.departureDate, trip.arrivalDate).minutes}}  minutes
					</span>
				</span>
				<table>
					<tr>
						<td>Departure</td>
						<td>Arrival</td>
						<td>Vendor</td>
						<td>Flight Id</td>
					</tr>
					<tr ng-if="!trip.innerFlightsId">
						<td>
							<span>{{trip.departureDate | date: 'HH:mm'}}</span>
							<span>{{trip.from}}</span>
							<span>{{trip.fromCode}}</span>
							<span>{{trip.fromFull}}</span>
						</td>
						<td>
							<span>{{trip.arrivalDate | date: 'HH:mm'}}</span>
							<span>{{trip.to}}</span>
							<span>{{trip.toCode}}</span>
							<span>{{trip.toFull}}</span>
						</td>
						<td>{{trip.vendor}}</td>
						<td>{{trip['flight-id']}}</td>
					</tr>
					<tr ng-if="trip.innerFlightsId" ng-repeat="innerTrip in trip.innerFlightsId">
						<td>
							<span>{{innerTrip.departureDate | date: 'HH:mm'}}</span>
							<span>{{innerTrip.from}}</span>
							<span>{{innerTrip.fromCode}}</span>
							<span>{{innerTrip.fromFull}}</span>
						</td>
						<td>
							<span>{{innerTrip.arrivalDate | date: 'HH:mm'}}</span>
							<span>{{innerTrip.to}}</span>
							<span>{{innerTrip.toCode}}</span>
							<span>{{innerTrip.toFull}}</span>
						</td>
						<td>{{innerTrip.vendor}}</td>
						<td>{{innerTrip['flight-id']}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>