<div class="ticket">
	<h3>
		{{trip.from.code}} - {{trip.to.code}}
	</h3>

	<div class="ticket-body">
		<div class="short-info">
			<div class="route" route="trip.forwardRoute"></div>
			<div class="route" route="trip.backRoute" ng-if="trip.backRoute"></div>
		</div>

		<div class="actions">
			<button class="btn btn-default">Заказать</button>
			<button ng-click="toggleDetails()">
				<span ng-if="!detailed">Подробнее</span>
				<span ng-if="detailed">Скрыть</span>
			</button>
		</div>

		<div class="details" ng-show="detailed">
			<table detailed-route="trip.forwardRoute" header="Туда"></table>
			<table detailed-route="trip.backRoute" header="Обратно" ng-if="trip.backRoute"></table>
		</div>
	</div>
</div>
