<div class="ticket-wrapper">
	<h5>{{flight.forwardTrip.from}} - {{flight.forwardTrip.to}} - {{flight.comebackTrip.to}}/ {{flight.forwardTrip.departureDate | date: 'yyyy-MM-dd HH:mm'}}</h5>
	<div class="trip">
		<span class="from">{{flight.forwardTrip.from}}</span>
		<span class="to">{{flight.forwardTrip.to}}</span>
		<span class="flight-time">
			{{getFlightTime(flight.forwardTrip.departureDate,flight.forwardTrip.arrivalDate).hours}} hours
			<span ng-if="getFlightTime(flight.forwardTrip.departureDate,flight.forwardTrip.arrivalDate).minutes != 0">
				{{getFlightTime(flight.forwardTrip.departureDate,flight.forwardTrip.arrivalDate).minutes}}  minutes
			</span>
		</span>
		<span class="vendor">{{flight.forwardTrip['flight-id']}}</span>
		<span class="price">{{flight.forwardTrip.price}}$</span>
	</div>
	<div class="trip">
		<span class="from">{{flight.comebackTrip.from}}</span>
		<span class="to">{{flight.comebackTrip.to}}</span>
		<span class="flight-time">
			{{getFlightTime(flight.comebackTrip.departureDate,flight.comebackTrip.arrivalDate).hours}} hours
			<span ng-if="getFlightTime(flight.comebackTrip.departureDate,flight.comebackTrip.arrivalDate).minutes != 0">
				{{getFlightTime(flight.comebackTrip.departureDate,flight.comebackTrip.arrivalDate).minutes}}  minutes
			</span>
		</span>
		<span class="vendor">{{flight.comebackTrip['flight-id']}}</span>
		<span class="price">{{flight.comebackTrip.price}}$</span>
	</div>
</div>