<div class="trip">
	<div class=" trip__summary" ng-click="toggleDetails()">
		<span>{{trip.from.fullName}} - {{trip.to.fullName}}</span>
		<span class="trip__price">{{trip.price | currency}}</span>
	</div>
	<div class="trip__details" ng-if="detailed">
		<div>
			<div class="trip__route" flight-chain chain="trip.forwardFlightChain"></div>
			<div class="trip__route" flight-chain chain="trip.backFlightChain" ng-if="trip.backFlightChain"></div>
		</div>
		<button>{{::'order' | translate}}</button>
	</div>
</div>
