/// <reference path="../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap" />

.trip {
  @extend .panel;
  @extend .panel-default;

  &__summary {
    @extend .panel-heading;
    @extend .clearfix;
    cursor: pointer;
  }

  &__details {
    @extend .panel-body;

    /*border: 1px solid $secondary-color;*/
  }

  &__price {
    float: right;
    /*color: $primary-color;*/
  }

  &__route {
    @extend .panel;
    @extend .panel-default;
  }

  &__flight-headers {
    @extend .alert-info;

    th {
      vertical-align: middle;
    }
  }

  &__flight-vendor {
    width: 200px;
  }

  &__flight-vendor-logo {
    max-height: 30px;
    max-width: 200px;
  }
}
