.filter {
    @extend .panel;
    @extend .panel-default;

    h2 {
        @extend .panel-heading;
        font-size: $font-size-base;
        margin: 0;
    }

    form {
        @extend .panel-body;

        .checkbox label {
            display: block;
        }
    }
}
