<div class="">
	<header>Параметры поиска</header>
	<h4>Из</h4>
	<select>
		<option ng-repeat="city in departureCities">{{city.name}}</option>
	</select>
	<h4>В</h4>
	<select>
		<option ng-repeat="city in arrivalCities">{{city.name}}</option>
	</select>
	<div>
		<input type="radio" name="ways" value="oneway"><span>В одну сторону</span><br>
		<input type="radio" name="ways" value="twoway"><span>Туда и обратно</span><br>
	</div>
	<h4>Дата отправления</h4>
	<input type="date" />
	<h4>Дата возвращения</h4>
	<input type="date" />
	<div class="passengers">
		<div>
			<h4>Взрослые</h4>
			<input type="number"/>
			<h4>Дети</h4>
			<input type="number" />
			<h4>Младенцы</h4>
			<input type="number" />
		</div>
	</div>
	<div class="button">Поиск</div>
</div>
